﻿@model  IEnumerable<Teste.BureauVeritas.Domain.ViewModels.ProdutoViewModel>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Preço (R$)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.ProdutoId</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Categoria.Nome</td>
                    <td>@produto.Preco</td>
                </tr>
            }
         </tbody>
    </table>