﻿@model  Teste.BureauVeritas.Domain.Util.Autenticacao.Autenticacao

@{
    ViewData["Title"] = "_Input";
}

<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-success" id="btnGerarToken" onclick="GerarToken();">Gerar token</button>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                <label>Token:</label>
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Token, new
                {
                    @class = "form-control",
                    autocomplete = "off"
                })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Expira em:</label>
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Expiration, new
                {
                    @class = "form-control",
                    autocomplete = "off"
                })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" id="btnListarProdutos" onclick="ListarProdutos();">Listar produtos</button>
    </div>
</div>