﻿@{
    ViewData["Title"] = "Index";
}

<script>
    var urlGerarToken = '@Url.Action("GerarToken", "Produto")';
    var urlListarProdutos = '@Url.Action("ListarProdutos", "Produto")';
</script>

<script src="~/js/Views/Produto.js"></script>

<div class="row">
    <div class="col-md-12">
        <div id="inputPlaceHolder">
            @{
                Html.RenderPartial("_Input");
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="GridProdutos">
            
        </div>
    </div>
</div>
