<app-layout>
  <div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-success" id="btnGerarToken" (click)="GerarToken()">Gerar token</button>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <label>Token:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" value="{{token}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Expira em:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" value="{{expirationInMinutes}} minutos">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btnListarProdutos" (click)="ListarProdutos()">Listar produtos</button>
        </div>
    </div>
    <div class="row" *ngIf="products.length > 0">
        <div class="col-md-12">
            <table class="table table-responsive" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Preço (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.produtoId}}</td>
                        <td>{{product.nome}}</td>
                        <td>{{product.descricao}}</td>
                        <td>{{product.categoria.nome}}</td>
                        <td>{{product.preco}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</app-layout>